.titlePage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .Button {
    margin-top: 10px;
  }
}
.dropzone {
  display: flex;
  justify-content: center;
  height: 300px;
  border: dashed black;
  border-radius: 10px;
}
